<!-- load static -->
{% load static %}
<!-- load static -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <!-- JQuery -->
    <script
    src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4="
    crossorigin="anonymous"
    ></script>
    <!-- JQuery -->
    
    <!-- My CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <!-- My CSS -->

    <!-- Document title -->
    <title>Cat Breeds API | {% block title %} {% endblock %}</title>
    <!-- Document title -->
  </head>
  <body>
    <!-- navigation -->
    <!-- navigayion -->

    <!-- pages -->
    <div class="pages">
      <!-- app -->
      {% block app %}
      <!--  -->
      {% endblock %}
      <!-- app -->
    </div>
    <!-- pages -->

    <!-- footer -->
    <!-- footer -->
  </body>
  <script src="{% static 'js/main.js' %}"></script>
</html>
